{% extends 'base.html' %}
   
    {% block title %}
    read news  
    {% endblock title %}

    {% block content %}
        <!--i can use any of the two post or object-->
            <div class="post_entry"><h2>{{ object.title}}</h2><p>
                {{object.body}}</p>
        </div>

        <button type="button"><a href="{%url "post_edit" object.pk %}">Edit Blog Post</a></button>
        
       <p> <button type="button"><a href="{%url "post_delete" object.pk %}">Delete Blog Post</a></button> </p>
      
    {% endblock content %}